Django>=3.0,<4.0
psycopg2-binary>=2.8
djangorestframework==3.12.2
django-cors-headers==3.5.0
pika==1.1.0
packaging==16.8
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
appdirs==1.4.3
djangorestframework-simplejwt==4.4.0
PyJWT==1.7.1